/* 
  TODO:
    - check radio button by clicking anywhere on its container
    - make input cursor thicker
    - box shadow
    - add transitions to inputs
    - fix radio inputs
*/

:root {
  --light-lime: hsl(62, 72%, 76%);
  --lime:       hsl(61, 70%, 52%);
  --red:        hsl(4, 69%, 50%);
  --fafae:      hsl(60, 72%, 93%);
  --slate-100:  hsl(202, 86%, 94%);
  --slate-300:  hsl(203, 41%, 72%);
  --slate-500:  hsl(200, 26%, 54%);
  --slate-700:  hsl(200, 24%, 40%);
  --slate-900:  hsl(202, 55%, 16%);
  --slater:     hsl(202, 56%, 12%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
}

html {
  font-family: 'plus jakarta sans';
}

body {
  background-color: var(--slate-100);
}

a {
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
}

label {
  display: block;
}

input {
  color: var(--slate-900);
  /* font-size: 20px; */
}


input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--slate-700); /* Border color */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Style the checked state */
input[type="radio"]:checked {
  border-color: var(--lime); /* Change border color when checked */
}

/* Add the inner dot when checked */
input[type="radio"]:checked::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--lime); /* Change dot color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
}


.main-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -20px 30px 20px #d1d2de44;
}

.input-error {
  font-size: .7rem;
  color: var(--red);
  display: none;
}

.input-error:not(.radio-error) {
  padding-top: .7rem;
}

.radio-error {
  padding-top: .2rem;
}

/* .mortgage-amount.error,
.term-rate.error,
.mortgage-type.error {

} */

.form {
  padding: 2em clamp(1em, 5vw, 2em);
}

.form,
.term-rate {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5em, 5vw, 1.7em);  
}

.heading-label,
.results-title {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  color: var(--slate-900);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.clear-all,
.main-label {
  color: var(--slate-700);
  font-size: clamp(0.8rem, 4.5vw, 1rem);
  font-weight: 500;
}

.input-container {
  margin-top: 0.7em;
}

.input {
  display: flex;
  align-items: center;
  height: 45px;
  border: var(--slate-300) 2px solid;
  border-radius: 5px;
}

.input,
.blue-label {
  transition: .3s ease-in;
}

.blue-1 {
  border-radius: 5px 0 0 5px;
}

.blue-label:not(.blue-1) {
  margin-left: auto;
  border-radius: 0 5px 5px 0;
}

.blue-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.1em;
  height: 100%;
  background-color: var(--slate-100);
  color: var(--slate-700);
  font-weight: 700;
  font-size: clamp(0.9rem, 4.5vw, 1rem);
}

.text-input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 2em;
  font-family: inherit;
  font-weight: 700;
  caret-shape: block;
  font-size: clamp(.9rem, 4vw, 1.1rem);
}

.input input:hover {
  cursor: pointer;
}

.input:focus-within {
  border-color: var(--lime);
}

.input-container:focus-within label {
  background-color: var(--lime);
}

.input-container.error .blue-label {
  background-color: var(--red);
  color: var(--fafae);
}

.radio-input:focus-within {
  background-color: var(--fafae)
}

.mortgage-type {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.radio-input {
  gap: 1em;
  padding: 0 1em;
}

.radio-input > input {
  transform: scale(1.4);
}

.radio-input,
.calc-button {
  color: var(--slate-900);
  font-weight: 700;
  font-size: clamp(.9rem, 5vw, 1rem);
}

.calc-img {
  display: block;
  width: 90%;
}

.calc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.9em 0;
  background-color: var(--lime);
  border-radius: 50px;
  text-decoration: none;
  gap: 0.5em;
  transition: .2s ease-in;
}

.calc-button:hover {
  background-color: var(--light-lime);
}

.results {
  background-color: var(--slate-900);
  /* padding: 3em clamp(1.5em, 5vw, 2.3em); */
  padding: 2em clamp(1em, 5vw, 2em);
  text-align: left;
}

.results.off {
  text-align: center;
}

.results-img {
  width: 80%;
}

.results-header {
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  color: white;
  margin: 0.5em 0 0.7em;
}

.results-p {
  font-size: clamp(0.8rem, 4.5vw, 1.02rem);
  color: var(--slate-300);
  line-height: 1.5;
}

.results-title {
  padding-bottom: .5rem;
  color: var(--fafae);
}

.results-container {
  padding: clamp(1.3rem, 5vw, 2rem) clamp(1rem, 5vw, 2rem);
  border-top: 4px solid var(--lime);
  border-radius: 7px;
  background-color: var(--slater);
  color: var(--slate-300);
  margin-top: clamp(1.5rem, 5vw, 2.5rem);
}

.monthly-repayment {
  border-bottom: 1px solid var(--slate-500);
}

.monthly {
  font-size: clamp(2.2rem, 5vw, 3.6rem);
  font-weight: 700;
  color: var(--lime);
  padding: .5rem 0 1.5rem;
}

.monthly-p,
.total-p {
  font-size: clamp(.9rem, 4vw, 1.1rem);
}

.total-repayment {
  padding-top: 1.5rem;
}

.total {
  padding-top: .5rem;
  font-size: clamp(1.1rem, 5vw, 1.5rem);
  color: var(--fafae);
  font-weight: 700;
}


@media (min-width: 900px) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

  .main-container {
    flex-direction: row;
    border-radius: 20px;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .term-rate {
    flex-direction: row;
  }

  .calc-button {
    margin-top: 0.5em;
    width: 70%;
  }

  .results {
    display: flex;
    flex-direction: column;
    place-content: center;
    border-radius: 0 20px 20px 75px;
    max-width: 50%;
  }

  /* .results-container {
    width: fit-container;
  } */

  .results.on {
    place-content: unset;
  }

  .results-img-container {
    width:50%;
    margin: 0 auto;
  }

  .results-header {
    margin: 1em 0 0.5em;
  }
}